html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

/* NAVBAR ELEMENTS */
.navBar, .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.navBar {
    justify-content: space-between;
    padding: 10px;
    display: flex;
}

.brand, .navLink, a {
    text-transform: uppercase;
    color: #303137;
    margin-right: 15px;
}

.brand {
    font-size: 25px;
}

.sensei {
    color: red;
}

ul.topnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.topnav, .navLink, a {
    text-decoration: none;
    padding-left: 2rem;
    font-size: 20px;
}

.dropdownLink {
    display: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
}

.headshotWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 6rem 0;
}

.headshot {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

.headshotWrapper h1 {
    font-variant: small-caps;
}

/* SECTION : SERVICES */
.services {
    background-color: #F1f3fa;
    padding: 4rem 1rem;
}

.mediaObject {
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
}

.iconWrapperLeft,
.iconWrapperRight {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.blurbWrapperRight,
.blurbWrapperLeft {
    flex: 1;
    padding: 5px;
}

.iconWrapperRight,
.blurbWrapperRight {
    order: 2;
}

.iconWrapperLeft,
.blurbWrapperLeft {
    order: 1;
}

.blurbInfo {
    color: #646b90;
    font-size: 18px;
    line-height: 2em;
}

.blurbWrapperRight h3,
.blurbWrapperLeft h3 {
    font-size: 25px;
    text-transform: lowercase;
}

.icon {
    width: 185px;
}

.quoteBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.quoteBtn {
    font-size: 18px;
    padding: 1rem 4rem;
    color: white;
    background-color: #66b6d3;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    ul.topnav li a.navLink {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive li.dropdownLink {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
    }

    ul.topnav.responsive li a.navLink {
        display: block;
        line-height: 2em;
    }

    .blurbInfo {
        color: #646b90;
        font-size: 14px;
        line-height: 1.5em;
    }
}
